{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="content">
    <!-- insert staff_top_nav.html -->
    {% include 'dashboard_nav/staff_top_nav.html' %}
    <div class="container-fluid">
        <div class="row">
            <!-- insert staff_side_nav.html -->
            {% include 'dashboard_nav/staff_side_nav.html' %}
            <div class="col-xs-12 col-sm-9 ml-sm-auto col-lg-9 px-md-4 py-4 mx-auto mt-5 mb-5">
                <div class="align-items-center justify-content-between mb-4">
                    <h1 class="mb-4">View Bookings Sorted by Status</h1> 
                    <a href="{{ url_for('staff.view_checkin_bookings') }}" class="btn btn-theme">Update/Check-in Bookings</a>
                    <a href="{{ url_for('staff.view_checked_in_bookings') }}" class="btn btn-custom">Checkout Bookings</a>
                </div>
                <form method="GET" action="{{ url_for('staff.search_bookings') }}" class="search-form mb-4">
                    <input type="text" class="form-control mb-2" name="search_query" placeholder="Search by Last Name or Booking ID">
                    <button type="submit" class="btn btn-theme ml-2 mb-4">
                        <i class="fa fa-search"></i>
                        Search</button>
                </form>
                <ul class="nav nav-tabs mb-4" id="bookingTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link {% if title == 'All Confirmed Bookings' %}active{% endif %}" href="{{ url_for('staff.view_all_bookings') }}">All Confirmed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if title == 'All Cancelled Bookings' %}active{% endif %}" href="{{ url_for('staff.view_all_cancelled_bookings') }}">All Cancelled</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if title == 'All Checked Out Bookings' %}active{% endif %}" href="{{ url_for('staff.view_all_checked_out_bookings') }}">All Checked Out</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if title == 'All Checked In Bookings' %}active{% endif %}" href="{{ url_for('staff.view_all_checked_in_bookings') }}">All Checked In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if title == 'All No Show Bookings' %}active{% endif %}" href="{{ url_for('staff.view_all_no_show_bookings') }}">All No Show</a>
                    </li>
                </ul>
                <div class="tab-content">
                    {% if bookings %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Check-in Date</th>
                                    <th>Check-out Date</th>
                                    <th>Booking ID</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Booked Nights</th>
                                    <th>Adults</th>
                                    <th>Children</th>
                                    <th>Room Type</th>
                                    <th>Paid Amount</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for booking in bookings %}
                                    <tr>
                                        <td>{{ booking.start_date | format_date }}</td>
                                        <td>{{ booking.end_date | format_date }}</td>
                                        <td>{{ booking.booking_id }}</td>
                                        <td>{{ booking.last_name | capitalize }}</td>
                                        <td>{{ booking.first_name | capitalize }}</td>
                                        <td>{{ (booking.end_date - booking.start_date).days }}</td>
                                        <td>{{ booking.adults }}</td>
                                        <td>{{ booking.children }}</td>
                                        <td>{{ booking.accommodation_type | title }}</td>
                                        <td>${{ booking.paid_amount }}</td>
                                        <td>{{ booking.status | title }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No bookings found.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

